{% extends "base.html" %}
{% load static %}
    {% block content %}
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
        </button>
    
        <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="{% url 'home'%}" class="nav-link">Home</a></li>
          <li class="nav-item">
          <li class="nav-item"><a href="{% url 'blog'%}" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="{% url 'about'%}" class="nav-link">About</a></li>
          <li class="nav-item"><a href="{% url 'contact_us'%}" class="nav-link">Contact</a></li>
          </ul>
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item active">
            <a href="{% url 'company_profile' %}" class="nav-link">
              <i class="fas fa-building"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'profile' %}" class="nav-link">
              <i class="fas fa-user"></i>
            </a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->


    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Update Car <i class="ion-ios-arrow-forward"></i></span></p>
              <h1 class="mb-3 bread">Update Car</h1>
            </div>
          </div>
        </div>
      </section>

      <style>
        .profile-image-wrapper {
          position: relative;
          display: inline-block;
        }
        
        .edit-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        
        #profile-image:hover + .edit-icon {
          opacity: 1;
        }

        #profile-image:hover {
            filter: blur(4px);
          }


        </style>
      
      <div class="container mt-4">

          <section class=" p-4 mb-4 shadow-lg">
            <div class="row">
              <div class="col-md-4">
                <form method="post" action="{% url 'add_car' %}" enctype="multipart/form-data">
                <div class="profile-image-wrapper">
                    <img id="profile-image" src="{{ car.image.url }}" class="img-fluid mb-2" alt="Profile Image" style="height: 350px; width: 350px; object-fit: cover;" >
                    <i class="fas fa-edit edit-icon text-white"></i>
                    <input type="file" id="image-input" accept="image/*" style="display:none" name='image'>
                  </div>
              </div>
              <div class="col-md-8">                
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="id_brand_model">brand_model:</label>
                    <select class="form-control" id="id_brand_model" name="brand_model">
                        {% for brand_model in brand_models %}
                            <option value="{{ brand_model.pk }}" {% if brand_model.pk == car.brand_model.pk %} selected {% endif %}>
                                {{ brand_model.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                  <div class="form-group">
                    <label for="id_plate_number">Plate Number:</label>
                    <input type="text" class="form-control" id="id_plate_number" name="plate_number" value="{{ car.plate_number }}">
                  </div>
                  <div class="form-group">
                    <label for="id_description">Description:</label>
                    <input type="text" class="form-control" id="id_description" name="description" value="{{ car.description }}">
                  </div>
                  <div class="form-group">
                    <label for="id_mileage">Mileage:</label>
                    <input type="text" class="form-control" id="id_mileage" name="mileage" value="{{ car.mileage }}">
                  </div>
                  <div class="form-group">
                    <label for="id_color">Color:</label>
                    <input type="text" class="form-control" id="id_color" name="color" value="{{ car.color }}">
                  </div>
                  <div class="form-group">
                    <label for="id_price">Price:</label>
                    <input type="text" class="form-control" id="id_price" name="price" value="{{ car.price }}">
                  </div>
                  <button type="submit" class="btn btn-lg  btn-primary mt-2 ">Add</button>
                </form>
              </div>
            </div>
          
            
          </section>
      </div>

      
      <script>
        // Get the image and input elements
        const profileImage = document.getElementById('profile-image');
        const imageInput = document.getElementById('image-input');
      
        // Add a click event listener to the image
        profileImage.addEventListener('click', () => {
          // Trigger the file input dialog
          imageInput.click();
        });
      
        // Add a change event listener to the file input
        imageInput.addEventListener('change', () => {
          // Get the selected file
          const file = imageInput.files[0];
      
          // Create a URL for the selected file
          const url = URL.createObjectURL(file);
      
          // Update the image src attribute with the new URL
          profileImage.src = url;
      
          // Submit the form to upload the image
          document.getElementById('profile-form').submit();
        });
      </script>
      
      {% endblock %}
