{% extends "base.html" %}
{% load static %}
    {% block content %}
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
        </button>
    
        <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="{% url 'home'%}" class="nav-link">Home</a></li>
          <li class="nav-item">
          <li class="nav-item"><a href="{% url 'blog'%}" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="{% url 'about'%}" class="nav-link">About</a></li>
          <li class="nav-item"><a href="{% url 'contact_us'%}" class="nav-link">Contact</a></li>
          </ul>
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item active">
            <a href="{% url 'company_profile' %}" class="nav-link">
              <i class="fas fa-building"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'profile' %}" class="nav-link">
              <i class="fas fa-user"></i>
            </a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Reservation <i class="ion-ios-arrow-forward"></i></span></p>
              <h1 class="mb-3 bread">Company Register</h1>
            </div>
          </div>
        </div>
      </section>

      <div class="container shadow-lg rounded mt-4 mb-3">
        {% if form.non_field_errors %}
              <div class="alert-danger mt-5">
                  {{ form.non_field_errors }}
              </div>
          {% endif %}
        <div class="row justify-content-center">
          <h2>Company Register</h2>
        </div>
        <form method="POST" class="mt-4">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Company Name:</label>
            <input type="text" name="name" id="name" class="form-control">
            {% if form.name.errors %}
            <div class="alert-danger">
                {{form.name.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="coutnry">Coutnry:</label>
            <input type="text" name="coutnry" id="coutnry" class="form-control">
            {% if form.coutnry.errors %}
            <div class="alert-danger">
                {{form.coutnry.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="governate">governate:</label>
            <input type="text" name="governate" id="governate" class="form-control">
            {% if form.governate.errors %}
            <div class="alert-danger">
                {{form.governate.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" name="city" id="city" class="form-control">
            {% if form.city.errors %}
            <div class="alert-danger">
                {{form.city.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="place">Place:</label>
            <input type="text" name="place" id="place" class="form-control">
            {% if form.place.errors %}
            <div class="alert-danger">
                {{form.place.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="website">Company Website:</label>
            <input type="text" name="website" id="website" class="form-control">
            {% if form.website.errors %}
            <div class="alert-danger">
                {{form.website.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="about">About Company:</label>
            <input type="text" name="about" id="about" class="form-control">
            {% if form.about.errors %}
            <div class="alert-danger">
                {{form.about.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="email">Company email:</label>
            <input type="text" name="email" id="email" class="form-control">
            {% if form.email.errors %}
            <div class="alert-danger">
                {{form.email.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="password1">Password:</label>
            <input type="text" name="password1" id="password1" class="form-control">
            {% if form.password1.errors %}
            <div class="alert-danger">
                {{form.password1.errors}}
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="password2">Password Confirmation:</label>
            <input type="text" name="password2" id="password2" class="form-control">
            {% if form.password2.errors %}
            <div class="alert-danger">
                {{form.password2.errors}}
            </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary w-100 mt-4 mb-4">Register</button>
            </div>
            <div class="col-6 text-right mt-4">
              <label for="account">already have one ?<a href={% url 'company_login' %}> Login</a></label>
            </div>
          </div>
        </form>
      </div>
      
      
    {% endblock %}