{% extends "base.html" %}
{% load static %}
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>
  
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="{% url 'home'%}" class="nav-link">Home</a></li>
            <li class="nav-item">
            <li class="nav-item"><a href="{% url 'blog'%}" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="{% url 'about'%}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{% url 'contact_us'%}" class="nav-link">Contact</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                  <a href="#" class="nav-link">
                      
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'profile' %}" class="nav-link">
                      <i class="fas fa-user"></i>
                  </a>
              </li>
          </ul>
        </div>
      </div>
  </nav>
  
    <!-- END nav -->
    
    <div class="hero-wrap ftco-degree-bg" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ftco-animate">
          	<div class="text w-100 text-center mb-md-5 pb-md-5">
	            <h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1>
	            <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
	            </a>
            </div>
          </div>
        </div>
      </div>
    </div>

     <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-12	featured-top">
    				<div class="row no-gutters">
	  					<div class="col-md-2 d-flex align-items-center">
	  					</div>
	  					<div class="col-md-8 d-flex align-items-center">
                <form id="filter_form" action="{% url 'cars' %}" method='get'>
                  <div class="services-wrap rounded-right w-100">
                    <h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
                    <div class="row d-flex mb-4">
                      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="form-group">
                          <label for="" class="label">Pick-up location</label>
                          <input name='pick_up_location' type="text" class="form-control" placeholder="City, Airport, Station, etc" required>
                        </div>      
                      </div>
                      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="form-group">
                          <label for="" class="label">Pick-up date</label>
                          <input name='start_date' type="date" class="form-control" placeholder="Date" min="{{ today }}" required>
                        </div>      
                      </div>
                      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="form-group">
                          <label for="" class="label">Drop-off date</label>
                          <input name='end_date' type="date" class="form-control" placeholder="Date" min="{{ tomorrow }}" disabled required>
                        </div>      
                      </div>
                    </div>
                    <p><button type="submit" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</button></p>
                  </div>
                </form> 
                
	  					</div>
	  				</div>
				</div>
  		</div>
    </section>




    <section class="ftco-section ftco-about">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/about.jpg' %});">
					</div>
					<div class="col-md-6 wrap-about ftco-animate">
	          <div class="heading-section heading-section-white pl-md-5">
	          	<span class="subheading">About us</span>
	            <h2 class="mb-4">Welcome to Carbook</h2>

	            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	            <p><a href="{% url 'cars' %}" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
	          </div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Services</span>
            <h2 class="mb-3">Our Latest Services</h2>
          </div>
        </div>
				<div class="row">
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Wedding Ceremony</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">City Transfer</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Airport Transfer</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Whole City Tour</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Blog</span>
            <h2>Recent Blog</h2>
          </div>
        </div>
        <div class="row d-flex">


          {% for blog in blogs %}
          
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url({{blog.img.url}});">
              </a>
              <div class="text pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">{{blog.created_at|date:"M. d, Y"}}</a></div>
                  <div><a href="#">{{blog.user.first_name}}</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span>{{blog.reviews_count}}</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">{{blog.title}}</a></h3>
                <p><a href="#" class="btn btn-primary">Read more</a></p>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </section>	
    {% csrf_token %}
    <script> 
      function add_to_cart(car_id){
      var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      var data = new URLSearchParams();
      data.append('car_id', car_id);
      fetch('/add_to_cart/?' + data, {
        method: 'POST',
        headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRFToken': csrftoken
        },
        body: data
      })
      .then(response => {
        console.log(response)
      })
      .catch(error => {
        console.error('Error:', error);
      });
      };
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Get the start date input field
        var startDateInput = document.getElementsByName('start_date')[0];
        
        // Get the end date input field
        var endDateInput = document.getElementsByName('end_date')[0];
    
        // Set the minimum value for the start date input field to tomorrow's date
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        startDateInput.min = tomorrow.toISOString().split('T')[0];
    
        // Add an event listener to the start date input field to update the minimum and maximum values for the end date input field
        startDateInput.addEventListener('input', function() {
          // Set the minimum value for the end date input field to the selected start date
          endDateInput.min = startDateInput.value;
          
          // Disable the end date input field if no start date is selected
          if (startDateInput.value === '') {
            endDateInput.disabled = true;
          } else {
            endDateInput.disabled = false;
          }
        });
        
        // Add an event listener to the end date input field to update the maximum value based on the selected start date
        endDateInput.addEventListener('input', function() {
          // Set the maximum value for the end date input field to 365 days after the selected start date
          var maxDate = new Date(startDateInput.value);
          maxDate.setDate(maxDate.getDate() + 365);
          endDateInput.max = maxDate.toISOString().split('T')[0];
        });
    
        // Add an event listener to the end date input field to show an error message if no start date is selected
        endDateInput.addEventListener('click', function() {
          if (startDateInput.value === '') {
            alert('Please enter a start date first.');
            endDateInput.blur();
          }
        });
      });
    </script>
    



{% endblock %}

